{% extends 'base.html' %}

{% block content %}

<section class="error-page-section">
    <div class="error-paper">
        <div class="error-code">403</div>

        <h1>Доступ запрещён</h1>

        <p>
            У вас нет прав для просмотра этой страницы.
            Вернитесь назад или перейдите на главную страницу.
        </p>

        <div class="error-actions">
            <a href="{% url 'home' %}" class="btn error-main-btn">
                На главную
            </a>

            <a href="{% url 'course_list' %}" class="btn error-outline-btn">
                К курсам
            </a>
        </div>
    </div>
</section>

{% endblock %}