{% extends 'base.html' %}

{% block content %}

<section class="error-page-section">
    <div class="error-paper">
        <div class="error-code">404</div>

        <h1>Страница не найдена</h1>

        <p>
            Такой страницы не существует или она была перемещена.
            Проверьте адрес или вернитесь к курсам.
        </p>

        <div class="error-actions">
            <a href="{% url 'home' %}" class="btn error-main-btn">
                На главную
            </a>

            <a href="{% url 'course_list' %}" class="btn error-outline-btn">
                К курсам
            </a>
        </div>
    </div>
</section>

{% endblock %}